@import '../../sass/utils/variables';

.container {
  bottom: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  box-shadow: $box-shadow-lg;
  background-color: $white;
  z-index: 20;
}

.nav {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.navLink {
  display: grid;
  color: $tertiary-color;
  align-self: center;
  justify-items: center;
  font-size: $font-size-xl;
  transition: $transition-base;
}

.navLink span {
  font-size: $font-size-xs;
}

.navLinkActive {
  transform: scale(1.1);
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
}