.container {
  gap: 20px;
  padding-top: 25px;
  padding-bottom: 100px;
}

.list {
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 250px;
    padding-top: 25px;
    padding-bottom: 100px;
  }
}