@import '../../sass/utils/variables';

.container {
  padding: 25px;
}

// .btn {
//   width: 100px;
// }

.card{
  gap: 10px;
  padding: 20px;
  background-color: $white;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  border-bottom: 4px solid $primary-color;
}

.cardActions {
  display: flex;
  justify-content: space-around;
}

.cardIcon {
  justify-self: flex-end;
  font-size: $icon-size-xl;
}

.highway {
  padding: 50px 0;
}

.figure {
  width: 100%;
  height: 200px;
  grid-row-start: 1;
  grid-column-start: 1;
}

.background {
  width: 100%;
  z-index: 5;
  height: 200px;
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: rgba($black, 0.6);
}

.figure img {
  object-fit: cover;
}

.front {
  gap: 20px;
  z-index: 6;
  color: $white;
  padding: 0 50px;
  grid-row-start: 1;
  text-align: center;
  align-items: center;
  grid-column-start: 1;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.banner {
  margin: 50px 0;
  height: 200px;
  position: relative;
}

.banner h4 {
  // align-self: center;
  padding: 25px 25px;
  color: $white;
  z-index: 20;
}

.bannerBtn {
  margin: 0 25px;
  z-index: 20;
  align-self: start;
}

.container_svg {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('./../../public/product-2.jpg');
}

// .media_img {
//   background-image: url('http://picsum.photos/1200/1200?image=7');
// }

.svg_img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .banner{
    height: 500px;
    position: relative;
  }
}