@import '../utils/variables';

.container {
  gap: 25px;
  width: 100%;
  min-height: 80vh;
  padding-top: 25px;
  padding-bottom: 50px;
  justify-items: center;
  // align-items: center;
  align-content: flex-start;
}

.form {
  padding: 25px;
  background-color: $white;
  border-radius: $border-radius;
  gap: 25px;
  & input {
    // min-width: 320px;
    width: 100%;
    min-height: 50px;
    border: 1px solid rgba($gray-color, 0.4);
  }
  & label:nth-child(3), label:nth-child(4), button:nth-child(5) {
    grid-column-end: span 2;
  }
}

.terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-end: span 2;
  align-items: center;
}

.footer {
  justify-items: center;
  grid-column-end: span 2;
}