@import '../utils/variables';

.main {
  padding: 100px 25px;
  margin: 0 250px;
  margin-bottom: 100px;
  justify-items: center;
  background-color: $gray-color;
  border-radius: $border-radius-lg;
  color: $soft-color;
  gap: 25px;
  & input, textarea, select {
    width: 100%;
    // min-width: 300px;
  }
}

.form {
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  & label:nth-child(3), label:nth-child(4) {
    grid-column-end: span 2;
  }
  & button {
    grid-column-end: span 2;
  }
}

.info {
  row-gap: 15px;
  column-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  & h5 {
    justify-self: center;
    grid-column-end: span 2;
  }
  & p:nth-child(6) {
    max-width: 480px;
    grid-column-end: span 2;
  }
  & p:nth-child(7) {
    padding-top: 25px;
    max-width: 567px;
    justify-self: center;
    grid-column-end: span 2;
    font-size: $font-size-lg;
  }
}