.container {
  gap: 25px;
  padding: 50px 25px;
}

.list {
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 50px 250px;
  }
}