* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  font-family: $font-family-base;
  background-color: $light-background;
}

a {
  color: inherit;
  text-decoration: none;
}

main, section, article, div, form, header, footer, ul, .grid  { display: grid; }
nav, li, small, span, a, h1, h2, h3, h4, h5, h6, button, input, figure, .flex { display: flex; }

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@each $name, $size in $font-headers {
  @if (type-of($size) == 'number') {
    #{$name} {
      font-size: $size;
    }
  }
}

.btn, .btn-primary, .btn-secondary, .btn-tertiary, .btn-success, .btn-link, .btn-link-primary, .btn-link-soft, .btn-link-acent, .btn-link-success {
  border: none;
  cursor: pointer;
  font-weight: bold;
  // ejemplo quitar despues
  width: fit-content;
  padding: 10px 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  // font-size: $font-size-sm;
  border-radius: $border-radius;
  font-family: $font-family-base;
  transition: $transition-transform;
}

.btn, .btn-primary {
  @include button();
}

.btn-secondary {
  @include button($soft-color, $secondary-color);
}

.btn-tertiary {
  @include button($soft-color, $tertiary-color);
}

.btn-success {
  @include button($soft-color, $success-color);
}

.btn-link, .btn-link-primary {
  @include buttonLink();
}

.btn-link-soft {
  @include buttonLink($soft-color);
}

.btn-link-acent {
  @include buttonLink($acent-color);
}

.btn-link-success {
  @include buttonLink($success-color);
}
