@import '../../sass/utils/variables';

.container {
  margin: 50px 0;
  padding: 20px;
  gap: 25px;
  background-color: rgba($gray-color, 1);
  color: $white;
  justify-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.link {
  display: grid;
}

.figure {
  width: 100%;
  height: 280px;
  border-radius: $border-radius-lg;
}

.figure img {
  object-fit: cover;
  border-radius: $border-radius-lg;
}

.info {
  padding: 10px 0;
  gap: 8px;
  align-items: center;
  grid-template-columns: repeat(2, auto);
}

.info p:first-child {
  font-size: $font-size-sm;
  color: $secondary-text-color;
}

.info p:nth-child(2) {
  font-size: $font-size-sm;
  color: $gray-600;
}

.info p:last-child {
  font-size: $font-size-xs;
  text-decoration: line-through;
  color: $gray-600;
}

.info p:nth-child(3) {
  color: $success-text-color;
}